node_modules/
dist/
dist-assets/
release/
.vite/
playwright-report/
test-results/
.DS_Store
screenshots/.phpunit.result.cache
.php-cs-fixer.cache
/vendor/
dist-html/
coverage/
.cache/
.biome/
.phpcs-cache/
*.log
*.tmp
*.temp
Thumbs.db
.idea/
.vscode/*.local
screenshots/

.vscode/settings.json
